
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~bootstrap/scss/bootstrap';

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.0rem;
  padding: 5rem;
  color: #666;
}
