
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~bootstrap/scss/bootstrap';

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.0rem;
  color: #666;
  width: 100%;
  margin: 0;
  padding: 0;
}

.list {
  border:1px solid red;
}
.detail {
  border:1px solid green;
}
.paginator {
  display: block;
  width: 100%;
  min-width: 100%;
  float: left;
  clear: both;
}
td, th {
  padding: 0 0.2rem 0 0.2rem;
}
